[submodule "GMS2-Robohelp-en"]
	path = GMS2-Robohelp-en
	url = https://e.coding.net/YUNZL/gms2manual_zh/GMS2-Robohelp-en.git
[submodule "GameMakerManualExport"]
	path = GameMakerManualExport
	url = https://github.com/GamemakerChina/GameMakerManualExport.git
