

textarea{
	padding:5px;
	font-size:14px;
}

.qqq{
	padding: 10px 20px;
}
.qqq .input{
    border: 1px solid #dbdbdb;
    width: 100%;
    padding: 7px;
    margin: 5px 0px;
    font-family: sans-serif;
    word-break: break-all;
}
.qqq .key{
	height:50px;
}

div.lr{
	min-height:720px;
	font-size:18px;
    line-height: 2;
    font-weight:bolder;
}
div.lr span{
    position: absolute;
    margin-left: -4px;
    margin-top: -6px;
    font-size: 12px;
    color: #0537f9;
    text-shadow: 1px 1px 1px #ffffff61;
}
.lr_col{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 740px;
}

.qqq .old_show,.qqq .new_show{
    position: absolute;
    top: 0px;
    pointer-events: none;
}
.qqq .old,.qqq .new{
    color: #00000000;
    caret-color: rgb(255, 0, 0);
}


.qqq_hightlight div{
	padding: 10px;
	font-size:16px;
}

.hide {   position: absolute;   top: -99999px;   left: -99999px;}

span.num{
	color:red;
}

*{
    font-style: normal !important;
}

span.inline
    font-family: sans-serif;
}
p{text-align:left}